.container{
    width: 90%;
}

.check_margin{
    margin: auto 10px;
}

/* Search Component */
#search{
    height: 70%;
    margin-top: 0.8rem;
    border-radius: 1rem;
}
#search :focus{
    background-color: #01018c21;
}

/* Fixed Action Button CSS */
.fixed-fab{
    position: fixed;
    bottom: 1rem;
    right: 5rem;
}