<!DOCTYPE html>
<html lang="ko" dir="ltr">
  {% load static %}
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen, projection">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" >

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <title>Welcome to Global Stack Trace</title>
  </head>
  <body>
    <header>
      <nav>
          <div class="nav-wrapper row">
              <a href="#" class="brand-logo">Global Stack Trace</a>
              <form class="offset-s2 col s8">
                  <div class="input-field col s3">
                      <input class="col s2" id="search" type="search" name="search_summary" value="{{ checkbox_list.search_summary }}">
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label><i class="material-icons">close</i>
                  </div>
                  <div class="col s3">
                      <label>
                          <input type="checkbox" {{ checkbox_list.C }} name="C" value="C"/><span class="check_margin">C</span>
                      </label>

                      <label>
                          <input type="checkbox" {{ checkbox_list.JAVA }} name="JAVA" value="JAVA"/><span class="check_margin">Java</span>
                      </label>

                      <label>
                          <input type="checkbox" {{ checkbox_list.PYTHON }} name="PYTHON" value="PYTHON"/><span class="check_margin">Python</span>
                      </label>
                      <label>
                          <input type="submit" value="Search">
                      </label>
                  </div>

              </form>
              <ul id="nav-mobile " class="right hide-on-med-and-down">
                {% if logined %}
                <li><span>{{ user.name }}</span></li>
                <li><a href="/user_logout/">logout</a></li>
                {% else %}
                <li><a href="/signin/">sign in</a></li>
                <li><a href="/signup/">sign up</a></li>
                {% endif %}
              </ul>
        </div>
      </nav>

    </header>

    <div class="divider"></div>

    <main role="main" class="container">
        <div class="row infinite-container">
            {% for profile in profiles %}
            <div class="col s4 m4 infinite-item">
                <div class="card horizontal s4">
                    <div class="card-stacked">
                        <div class="card-title col offset-s1">
                            <div class="row">
                                <h6>{{ profile.email }}</h6>
                                <span class="right-aligned" style="font-weight: 700">{{ profile.name }}</span><br>
                                <span style="font-size: 1rem">[</span>
                                {% for skill in profile.skill %}
                                    <span style="font-size: 1rem">{{ skill }}</span>,
                                {% endfor %}
                                <span style="font-size: 1rem">]</span>
                            </div>
                        </div>
                        <div class="card-content col offset-s1">
                            <div class="row">
                                <p>
                                    {{ profile.summary }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-s2">
                                <span id="like_{{ profile.email }}">{{ profile.likeNum }}</span>개
                            </div>
                            <div class="col offset-s3">
                                <a class="like" name="{{ profile.email }}">
                                    {% if profile.liked %}
                                        <i id='like_icon_{{ profile.email }}' class="material-icons">favorite</i>
                                    {% else %}
                                        <i id='like_icon_{{ profile.email }}' class="material-icons">favorite_border</i>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="{{ profile.homepage }}">Go to Homepage</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        {% if profiles.has_next %}
{#            <a class="infinite-more-link" href="?page={{ profiles.next_page_number }}">More</a>#}

            <a class="infinite-more-link" href="?search_summary={{ get_request_list.search_summary }}&C={{ get_request_list.C }}&JAVA={{ get_request_list.JAVA }}&PYTHON={{ get_request_list.PYTHON }}&page={{ profiles.next_page_number }}">More</a>
        {% endif %}

        <div class="loading" style="display: none;">
            Loading...
        </div>
        <div class="row">
            {% if logined %}
            <a class="btn-floating btn-large waves-effect waves-light red col 1 offset-l11 modal-trigger" href="#stack">
              {% if has_a_card %}
              <i id="fab" class="material-icons">mode_edit</i>
              {% else %}
              <i id="fab" class="material-icons">add</i>
              {% endif %}
            </a>
            <!-- Modal Structure -->
            <div id="stack" class="modal modal-fixed-footer">
              <div class="modal-content">
                <div class="row">
                  <form class="col s12" method="post">
                    {% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                          <label for="summary">summary</label>
                          {{ form.card_form.summary }}
                        </div>
                      </div>
                      <div class="row">
                      <div class="input-field col s8">
                        <label for="homepage">homepage</label>
                        {{ form.card_form.homepage }}
                      </div>
                      <div class="input-field col s4">
                          {{ form.card_form.skill }}
                        <label for="skill">skill</label>
                       </div>
                      </div>
                    <!-- Project -->
                    {{ form.project_formset.management_form }}
                    <div id="form_set">
                      {% for project_form in form.project_formset %}
                        <div class="project_container">
                        <h5>프로젝트 {{ project_form.id | safe }}</h5>
                        {% if form.project_formset.can_delete %}
                            {{ project_form.DELETE }}
                            <input type="button" value="Project-" id="del_project_{{ forloop.counter0 }}">
                        {% endif %}
                        <div class="row">
                          <div class="input-field col s6">
                            <label for="name">project_name</label>
                            {{ project_form.name | safe }}
                          </div>
                          <div class="input-field col s6">
                            <label for="link">project_link</label>
                            {{ project_form.link | safe }}
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                    </div>
                    <!-- Certification -->
                    {{ form.certification_formset.management_form }}
                    <div id="crtf_form_set">
                      {% for crtf_form in form.certification_formset %}
                        <div class="certification_container">
                        <h5>자격 수료 활동 {{ crtf_form.id | safe }}</h5>
                        {% if form.certification_formset.can_delete %}
                            {{ crtf_form.DELETE }}
                            <input type="button" value="Certification-" id="del_crtf_{{ forloop.counter0 }}">
                        {% endif %}
                        <div class="row">
                          <div class="input-field col s3">
                            <label for="name">name</label>
                            {{ crtf_form.name | safe }}
                          </div>
                          <div class="input-field col s3">
                            {{ crtf_form.certificate_type | safe }}
                            <label for="certificate_type">type</label>
                          </div>
                          <div class="input-field col s3">
                            <label for="organization">org</label>
                            {{ crtf_form.organization | safe }}
                          </div>
                          <div class="input-field col s3">
                            <label for="date">date</label>
                            {{ crtf_form.date | safe }}
                          </div>
                        </div>
                        </div>
                      {% endfor %}
                    </div>
                    <!-- Project Empty Form -->
                    <div id="empty_form" style="display:none">
                        <h5>프로젝트 {{ project_form.id | safe }}</h5>
                        <input type="button" value="Project-" id="del_project_">
                        <div class="row">
                          <div class="input-field col s6">
                            <label for="name">project_name</label>
                            {{ form.project_formset.empty_form.name }}
                          </div>
                          <div class="input-field col s6">
                            <label for="link">project_link</label>
                            {{ form.project_formset.empty_form.link }}
                          </div>
                        </div>
                    </div>
                    <!-- Certification Empty Form -->
                    <div id="crtf_empty_form" style="display: none">
                        <h5>자격 수료 활동 {{ crtf_form.id | safe }}</h5>
                        <input type="button" value="Certification-" id="del_crtf_">
                        <div class="row">
                          <div class="input-field col s3">
                            <label for="name">name</label>
                            {{ form.certification_formset.empty_form.name }}
                          </div>
                          <div class="input-field col s3">
                            {{ form.certification_formset.empty_form.certificate_type }}
                            <label for="certificate_type">type</label>
                          </div>
                          <div class="input-field col s3">
                            <label for="organization">org</label>
                            {{ form.certification_formset.empty_form.organization }}
                          </div>
                          <div class="input-field col s3">
                            <label for="date">date</label>
                            {{ form.certification_formset.empty_form.date }}
                          </div>
                        </div>
                    </div>
                    <div class="submit-row col">
                        <input type="submit" class="waves-effect waves-light btn" name="push" value="Push">
                    </div>
                    {% if has_a_card %}
                        <div class="submit-row col">
                            <input type="submit" class="waves-effect waves-light btn" name="pop" value="Pop">
                        </div>
                    {% endif %}
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" value="Project+" id="add_project">
                <input type="button" value="Certification+" id="add_crtf">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
              </div>
            </div>
            {% endif %}
        </div>
  </main>
  <footer>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main_stack.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
  <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            onBeforePageLoad: function () {
                $('.loading').show();
                console.log('loading show')
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
                console.log('loading hide');
                $('.like').off();
                $('.like').click(function(){
                    var card = $(this).attr('name')
                    $.ajax({
                        type: "POST",
                        url: "{% url 'like' %}",
                        data: {'card': card, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: "json",

                        success: function(response){
                            var like_icon = 'like_icon_'+response.email;
                            var like_id = "like_"+response.email;
                            document.getElementById(like_id).innerText = response.likes_count;
                            if(response.message == 'like_increase'){
                                document.getElementById(like_icon).innerText = 'favorite';
                            }else if(response.message == 'like_decrease'){
                                document.getElementById(like_icon).innerText = 'favorite_border';
                            }
                        },
                        error:function(request,status,error){
                            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        }
                    });
                })

            }
        });
    </script>


    <script type="text/javascript">
        //좋아요 버튼 스크립트
        $('.like').click(function(){
            var card = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'like' %}",
                data: {'card': card, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",

                success: function(response){
                    var like_icon = 'like_icon_'+response.email;
                    var like_id = "like_"+response.email;
                    document.getElementById(like_id).innerText = response.likes_count;
                    if(response.message == 'like_increase'){
                        document.getElementById(like_icon).innerText = 'favorite';
                    }else if(response.message == 'like_decrease'){
                        document.getElementById(like_icon).innerText = 'favorite_border';
                    }
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        })
    </script>
  </body>
</html>
